.yselect__container {
    position: relative;
    display: block;
}
.yselect__hidden {
    position: absolute;
    display: block;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
}
.yselect__hidden select {
    position: absolute;
    top: .7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
}
.yselect__select {
    border-radius: 5px;
    min-width: 140px;
    padding: 8px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
}
.yselect__select-text {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    max-width: 100%;
}
.yselect__select-text--placeholder {}
.yselect__select-arrow {}
.yselect__drop-container {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 5px;
    z-index: 100;
}
.yselect--open .yselect__drop-container {
    display: block;
}
.yselect__options-list {
    border-radius: 5px;
    width: 100%;
    padding: 8px 0;
    border: 1px solid #ddd;
    max-height: 400px;
    background-color: #fff;
    margin: 0;
    overflow: auto;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.yselect__option {
    padding: 4px 10px;
    cursor: pointer;
}
.yselect__option--hover,
.yselect__option:hover {
    background-color: #eee;
}
.yselect__option--disabled {
    background-color: #aaa;
    cursor: default;
}
.yselect__option--selected {
    background-color: #ddd;
}